<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off">

	<targets>
		<!-- Console target -->
		<target name="console" xsi:type="Console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- File target -->
		<target name="file" xsi:type="File"
				fileName="${var:mydir}/app-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
				keepFileOpen="false"
				archiveAboveSize="10485760"
				maxArchiveFiles="10" />

		<!-- Blackhole target -->
		<target name="blackhole" xsi:type="Null" />
	</targets>

	<rules>
		<!-- Only log messages from your application namespace -->
		<logger name="GetVideoPathAPI.*" minlevel="Trace" writeTo="file,console" />

		<!-- Suppress Microsoft logs below Warning -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="file" final="true" />

		<!-- Block all other logs -->
		<logger name="*" minlevel="Trace" writeTo="blackhole" final="true" />
	</rules>
</nlog>